version: '3'

services:
  db:
    image: kartoza/postgis:11.0-2.5

  rabbit-mq:
    image: rabbitmq:3.7

  api:
    build: ./api
    entrypoint: /code/entrypoint-staging.sh
    volumes:
      - ./api:/code
      - static_volume:/code/static
      - media_volume:/code/data
    expose:
      - 8000
    depends_on:
      - db
      - rabbit-mq
    environment:
      DEBUG: 0
      WAIT_HOSTS: db:5432, rabbit-mq:5672

  nginx:
    build: ./nginx
    ports:
      - 8081:8081
    depends_on:
      - api
    volumes:
      - static_volume:/code/static
      - media_volume:/code/data

  frontend:
    image: geosolutionsit/mapstore2:SCIADRO-2018.01.00
    ports:
      - 8082:8080

volumes:
  static_volume:
  media_volume:
