version: '3'

services:
  db:
    image: kartoza/postgis:11.0-2.5
    ports:
      - "5432:5432"
  rabbit-mq:
    image: rabbitmq:3.7
  api:
    build: ./api
    entrypoint: /code/entrypoint-staging.sh
    user: ${CURRENT_UID}
    volumes:
      - ./api:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbit-mq
    environment:
      WAIT_HOSTS: db:5432, rabbit-mq:5672
